.block_sbcprofile a:hover
{
    text-decoration:underline;
}
.block_sbcprofile .header h2
{
    display:none;
}
div.block_sbcprofile.hidden div.header h2
{
    display:block;
}
.block_sbcprofile .profilepicture {
    float:right;
}
.block_sbcprofile .profilepicture img,
.block_sbcprofile .sbcavatar 
{ 
    position:relative;
    height:70px !important; 
    width:70px !important;
    vertical-align:text-top;
    float:right;
    margin-right: 5px;
    border: 2px solid #dadada;
    z-index:1;
}
.block_sbcprofile .teacherpicture img {
    height:50px; 
    width:50px;
    vertical-align:text-top;
    margin-right: 5px;
    border: 2px solid #dadada;
}

.block_sbcprofile .sbcavatar .avatarimg{
    display: inline-block;
    width: 288px;
    height: inherit;
    background-position: 100% 6%;
}

.block_sbcprofile .myprofileitem.fullname 
{
    font-size:1.2em; 
    font-weight: bold;
}
.block_sbcprofile .myprofileitem.location,
.block_sbcprofile .myprofileitem.description
{
   font-size:12px;
   color: #999;
}

.block_sbcprofile .myprofileitem.edit 
{
    text-align: right;
}

.block_sbcprofile .myprofileitem.profileicon 
{
    padding-top:0.5em;
}
.block_sbcprofile .myprofileitem.messageicon
{
    padding-bottom:0.5em;
}

.block_sbcprofile .myprofileitem.profileicon img,
.block_sbcprofile .myprofileitem.messageicon img
{
    vertical-align: middle;
    width:25px;
    height:25px;
}
.block_sbcprofile .myprofileitem.profileicon a,
.block_sbcprofile .myprofileitem.messageicon a
{
    display:inline;
}
.block_sbcprofile .myprofileitem.profileicon a:hover,
.block_sbcprofile .myprofileitem.messageicon a:hover
{
    color:#210772;
}

.block_sbcprofile .myprofileitem.logoutbttn
{
    position:relative;
    margin: 1em 0em 1em 0em;
    text-align: center;
}
.block_sbcprofile .myprofileitem.logoutbttn a
{
    background: #210772;
    color: #ced0cf;
    padding:0.5em 1em 0.5em 1em;
}
.block_sbcprofile .myprofileitem.logoutbttn a:hover
{
    color:white;
}
/********************** For logging in as another user ********************/
.block_sbcprofile .loginasinfo {
    width:95%;
    margin-top:1em;
    margin-bottom: 2em;
}
.block_sbcprofile .teacherpicture,
.block_sbcprofile .loginasinfo {
    display:inline-block;
    text-align:center;
}
.block_sbcprofile .teacherpicture,
.block_sbcprofile .logintitle {
    vertical-align:text-top;
}
.block_sbcprofile .logintitle  {
    display:inline-block;
    text-align:left;
}
.block_sbcprofile .logintitle p {
    margin-bottom: 0;
}
.block_sbcprofile .logintitle h3 {
    padding-top: 0;
}
.block_sbcprofile .logintitle a {
    font-size:12px;
    color:#2e1094;
    text-decoration:underline;
}