.block_course_outline .footer 
{
    margin-top: 5px;
}
.block_course_outline ul.unlist li.r0  {
     display:none;
}

.block_course_outline .outlinelesson
{
    position: relative;
    cursor: pointer;
    display:block;
    vertical-align:middle;
    margin: 0.2em 0em 0.5em 0em;
    padding: 0.3em 0.2em 0.3em 0.3em;
    width: 172px;

    font-size: 14px;
    font-weight: 400;
    color:black;

    -moz-box-shadow: inset 0px 1px 0px 0px #efefef;
    -webkit-box-shadow: inset 0px 1px 0px 0px #efefef;
    box-shadow: inset 0px 1px 0px 0px #efefef;

    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bababa), color-stop(0.75, #ffffff) );
    background: -moz-linear-gradient( center top, #bababa 5%, #ffffff 75% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#ffffff');
    background-color: #bababa;
    border: 1px outset #bababa;
}
.block_course_outline .outlinelesson:hover
{
    color:white;
    moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f21429), color-stop(1, #a60000) );
    background: -moz-linear-gradient( center top, #f21429 5%, #a60000 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f21429', endColorstr='#a60000');
    background-color: #fe1a00;
}

.block_course_outline .outlineproject,
.block_course_outline .outlineproject_open
{
    display:none;
    cursor: pointer;
    font-weight:bold;
    color: [[setting:menuhovercolor]];
    margin: 0.2em 0em 0.2em 1em;
}
.block_course_outline .outlineproject_open
{
    display:inline-block !important;
}
.block_course_outline .outlineproject span,
.block_course_outline .outlineproject_open span
{
    background: url(/theme/vrsim/pix_core/t/blackBullet.png) no-repeat left bottom;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.block_course_outline .outlineattempt,
.block_course_outline .outlineattempt_open
{
    display:none;
    font-weight:normal;
    margin: 0.2em 0em 0.2em 2em;
}
.block_course_outline .outlineattempt_open
{
    display:inline-block !important;
}
.block_course_outline .outlineattempt span,
.block_course_outline .outlineattempt_open span
{
    background: transparent;
    font-size: 8px;
    font-weight: bold;
    vertical-align: bottom;
}

.block_course_outline .outlineattempt a:hover
{
    color: [[setting:menuhovercolor]];
}